USE [master]
GO
/****** Object:  Database [passenger ]    Script Date: 03-03-2021 11:51:07 ******/
CREATE DATABASE [passenger ]

ALTER DATABASE [passenger ] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [passenger ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [passenger ]
GO
/****** Object:  Table [dbo].[passe_test]    Script Date: 03-03-2021 11:51:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[passe_test](
	[Passenger_number] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phonenumber] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_passe_test] PRIMARY KEY CLUSTERED 
(
	[Passenger_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
