<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
	<targets>
		<target name="console" xsi:type="ColoredConsole" layout="${message}" />
		<!--Write logs to File-->
		<target name="file" xsi:type="File" fileName="C:\Users\Besitzer\source\repos\Product Management\ErrorLogFile\ErrorLogFile.log\${shortdate}" layout="--------------------- ${level}(${longdate})${machinename}-------------------- ${newline}

           Exception Type:${exception:format=Type}${newline}      
            Exception Message:${exception:format=Message}${newline}      
            Stack Trace:${exception:format=Stack Trace}${newline}      
            Additional Info:${message}${newline}">
		</target>
		<target xsi:type="Database" name="db-Details">
			<!-- SQL command to be executed for each entry -->
			<commandText>
				INSERT INTO [NLog_Error](TimeStamp,Level,Host,Type,Logger,Message,stackTrace)
				VALUES(getutcdate(),@level,@host,@type,@logger,@message,@stacktrace)
			</commandText>
			<!-- parameters for the command -->
			<parameter name="@level" layout="${level}" />
			<parameter name="@host" layout="${machinename}" />
			<parameter name="@type" layout="${exception:format=type}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@stacktrace" layout="${exception:stacktrace}" />
			<!-- connection string -->
			<dbProvider>System.Data.SqlClient</dbProvider>
			<connectionString>Data Source=DESKTOP-37B1VED\SQLEXPRESS01;Initial Catalog=User;Integrated Security=True;</connectionString>
		</target>
	</targets>
	<rules>

		<logger name="*" minlevel="trace" writeTo="file" />
		<logger name="*" minlevel="trace" writeTo="db-Details" />


	</rules>
</nlog>