
@{
    ViewBag.Title = "Index";
}

<h1>Welcome to WebApi Assignment</h1>
<h4>
    API is authenticated by following username and password
    <hr />
    <ul>
        <li><b>Username :</b> sweta</li>
        <li><b>Password :</b> 12345</li>
    </ul>
</h4>

