

USE [User]
GO
/****** Object:  Database [User]    Script Date: 08-01-2021 07:20:21 ******/

 
ALTER DATABASE [User] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [User].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [User]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 08-01-2021 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nvarchar](50) NOT NULL,
	[Lastname] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[Age] [int] NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Conform Password] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NLog_Error]    Script Date: 08-01-2021 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NLog_Error](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TimeStamp] [datetime2](7) NOT NULL,
	[Level] [nvarchar](50) NOT NULL,
	[Host] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Logger] [nvarchar](50) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[stacktrace] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 08-01-2021 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[Categoery] [nvarchar](50) NOT NULL,
	[Price] [money] NOT NULL,
	[Short_Description] [nvarchar](max) NOT NULL,
	[Small_Image] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[ProductDisplay]    Script Date: 08-01-2021 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[ProductDisplay] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * From Product
END
GO
/****** Object:  StoredProcedure [dbo].[ProductInsert]    Script Date: 08-01-2021 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[ProductInsert]
	-- Add the parameters for the stored procedure here
	                    ( @ProductId int,
						@ProductName nvarchar(50),
						@Categoery nvarchar(50),
						@Price Decimal,
						
						@Short_Description nvarchar(max),
						@Quantity int,
						@Small_image nvarchar(max)
						)
						
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Product(ProductId,
						ProductName,
						Categoery,
						Price,
						
						Short_Description,
						Quantity,
						Small_image ) VALUES(@ProductId,
						@ProductName,
						@Categoery,
						@Price,
						
						@Short_Description,
						@Quantity,
						@Small_image 
						)  
END

GO
/****** Object:  StoredProcedure [dbo].[ProductUpdate]    Script Date: 08-01-2021 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[ProductUpdate]
	-- Add the parameters for the stored procedure here
	                    ( @ProductId int,
						@ProductName nvarchar(50),
						@Categoery nvarchar(50),
						@Price Decimal,
						
						@Short_Description nvarchar(max),
						@Quantity int,
						@Small_image nvarchar(max)
						)
						
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Update PRoduct set ProductName=@ProductName,Categoery=@Categoery,Price =@Price , Short_Description =@Short_Description ,Quantity=@Quantity,Small_image =@Small_image  Where ProductId=@ProductId
END


GO
USE [master]
GO
